<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>联系我们</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="stylesheet" type="text/css" href="https://breathcoder.oss-cn-hangzhou.aliyuncs.com/aui.css" />

</head>
<body>
<div class=".aui-content-padded" style="background-color: #FAFAFA;padding: 20px">

    <section  >
        <div class="aui-card-list">
            <div class="aui-card-list-header">
                联系我们
            </div>
            <div class="aui-card-list-content-padded">
                <p>           1.软件使用过程中有问题</p>
                <p>2.软件出现未知bug</p>
                <p>3.有良好的建议</p>

            </div>
            <div class="aui-card-list-footer">
                QQ:188806484
            </div>
        </div>
    </section>
    <p><div class="aui-btn aui-btn-primary aui-btn-block " onclick="chatQQ()">联系客服</div></p>


</div>



<script>
    function chatQQ(){
        //其中1234567指的是QQ号码
        window.location.href="mqqwpa://im/chat?chat_type=wpa&uin=188806484&version=1&src_type=web&web_src=oicqzone.com";
    }
</script>



</body>
</html>